<header>
  <div class="header-wrapper">
      <div class="header-title">
          <div id="top-btn" class="header-logo">SAUNA-CHAT</div>
      </div>
        <div class="header-menu">
          <ul class="header-menu-right">
            <% if user_signed_in? %>
              <li><%= link_to "#{current_user.nickname}", "#", class: "user-nickname" %></li>
              <li><%= link_to "新規投稿", new_chat_path, class: "new-post" %>
              <li><%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "logout" %></li>
            <% else %>
              <li><%= link_to "ログイン", new_user_session_path, class: "login" %></li>
              <li><%= link_to "アカウント作成", new_user_registration_path, class: "sign-up" %></li>
            <% end %>
          </ul>
        </div>
  </div>
</header>
<br>
<br>
<br>
<br>
<br>
  <div class="content">
    <div class="title">
      <span>サ</span>
      <span>ウ</span>
      <span>ナ</span>
      <span>と</span>
      <span>と</span>
      <span>の</span>
      <span>い</span>
      <span>。</span>
    </div> 
  </div>    
  <h1 class="title-1">関西サ活情報</h1>
  <main class="main">
    <div class="inner">
      <h1 class="page-heading">みんなのサ活</h1>
      <div class="card__wrapper">
      <%= render partial: "chat", collection: @chats %>
        <div class="card">
          <div class="card__body">
            <h2 class="card__title">タイトル
            <%# <%= @chat.sauna_name%> 
            </h2>
            <p class="card__summary">
              サウナ情報が入ります。
              <%# <%= image_tag chat.image.variant(resize: '500x500'), class: "chat-image" if chat.image.attached?%>
            </p>
          </div>
        </div>
  </main>
  <div class="container">
    <div class="heading">
      <h2>FAQ</h2>
    </div>
        <div class="section s_01">
        <div class="accordion_one">
          <div class="accordion_header">サウナってメタボゾンビの集まりだよね.何がいいの？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">心身がスッキリし体調が万全の状態になることが整うということ。</p>
            </div>
          </div>
        </div>
        
        <div class="accordion_one">
          <div class="accordion_header">TTNTってなに？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">ととのったーって意味です。私が作りました。</p>
            </div>
          </div>
        </div>
        
        <div class="accordion_one">
          <div class="accordion_header">ととのうってなに？？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">心身がスッキリし体調が万全の状態になることが整うということ。</p>
            </div>
          </div>
        </div>
  </div>
<footer>
    <a href="#" class="btn btn-secondary"></a></a>
    <ul class="footer-nav">
        <li><a href="#">サービス内容</a></li>
        <li><a href="#">お問い合わせ</a></li>
    </ul>
</footer>
