<header>
  <div class="header-wrapper">
      <div class="header-title">
          <div id="top-btn" class="sauna-title">SAUNA-RELAXTION</div>
      </div>
        <div class="header-menu">
          <ul class="header-menu-right">
            <li><a class="login" href="#">ログイン</a></li>
            <li><a class="register" href="#">新規作成</a></li>
            <li><a  href="#">お問い合わせ</a></li>
          </ul>
        </div>
  </div>
</header>
<main class="main">
  <div class="inner">
    <h1 class="page-heading">投稿一覧</h1>
    <div class="card__wrapper">
      <div class="card">
        <%= image_tag "image2.jpg", class:"list-pict" %>
        <div class="card__body">
          <h2 class="card__title">タイトル</h2>
          <p class="card__summary">
            サウナ情報が入ります。
          </p>
        </div>
      </div>
      <div class="card">
        <%= image_tag "image2.jpg", class:"list-pict" %>
        <div class="card__body">
          <h2 class="card__title">タイトル</h2>
          <p class="card__summary">
            サウナ情報が入ります。
          </p>
        </div>
      </div>
      <div class="card">
        <%= image_tag "image2.jpg", class:"list-pict" %>
        <div class="card__body">
          <h2 class="card__title">タイトル</h2>
          <p class="card__summary">
            サウナ情報が入ります。
          </p>
        </div>
      </div>
      <div class="card">
        <%= image_tag "image2.jpg", class:"list-pict" %>
        <div class="card__body">
          <h2 class="card__title">タイトル</h2>
          <p class="card__summary">
            サウナ情報が入ります。
          </p>
        </div>
      </div>
      <div class="card">
        <%= image_tag "image2.jpg", class:"list-pict" %>
        <div class="card__body">
          <h2 class="card__title">タイトル</h2>
          <p class="card__summary">
            サウナ情報が入ります。
          </p>
        </div>
      </div>
      <div class="card">
        <%= image_tag "image2.jpg", class:"list-pict" %>
        <div class="card__body">
          <h2 class="card__title">タイトル</h2>
          <p class="card__summary">
            サウナ情報が入ります。
          </p>
        </div>
      </div>
</main>

        
<footer>
    <a href="job.html" class="btn btn-secondary"></a></a>
    <ul class="footer-nav">
        <li><a href="#">サービス内容</a></li>
        <li><a href="#">お問い合わせ</a></li>
    </ul>
</footer>
