<div class="content">
    <div class="title">
      <span>サ</span>
      <span>ウ</span>
      <span>ナ</span>
      <span>と</span>
      <span>と</span>
      <span>の</span>
      <span>い</span>
      <span>。</span>
    </div> 
    <h1 class="title-1">Good Löyly</h1>
    <h1 class="title-1">Good Sauna</h1>
    <h1 class="title-1">Build a Good Life</h1>
</div> 
<main class="main">
    <div class="page-information">
      <p class="page-heading">Osaka Sauna Information</div>
    </div>
    <div class="slider">
      <%= image_tag 'sauna1.jpg' %>
      <%= image_tag 'sauna2.jpg' %>
      <%= image_tag 'sauna3.jpg' %>
      <%= image_tag 'sauna6.jpg' %>
    </div>
  <div class="inner">
        <h3 class="sub-heading">サウナに行った記録<br>口コミを残してみよう。<br></h3>
        <div class="modal" id="modal01">
          <div class="overLay modalClose"></div>
          <div class="inner">
          <p class="warning">1, サウナ以外の記述は禁止。<br>
                              2, 誹謗中傷の書き込み禁止。<br>
                              3, 上記を守ることができない場合は強制退会</p>
          <a href="" class="modalClose">閉じる</a>
          </div>
        </div>
        <button><a href="#modal01" class="modalOpen">注意事項</a></button>
          <%= form_with(url: search_chats_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "例）極楽湯", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
          <% end %>
      <div id="paginate">
        <div class="card__wrapper">
            <%= render partial: "chat", collection: @chats %>
        </div>
        <div class="chat-btn">
              <%= paginate @chats, remote: true %>
        </div>
      </div>
  </div>
</main>
<div class="chat-room">
   <%= link_to 'TheGuestsChatRoom', messages_path, class: :guest_chat_room %>
   <div class="guest_comment">
    <p>登録なしでコメントしよう。<br>
    上記をクリック！！！</p>
   </div>
</div>
<div class="container">
    <div class="heading">
      <h2>FAQ</h2>
    </div>
      <div class="section s_01">
      <div class="accordion_one">
          <div class="accordion_header">ととのうってなに？？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">温かいサウナと冷たい水風呂へ<br>交互に入ることで交感神経が刺激され、<br>血流が良くなることで陶酔感を得やすくなる。</p>
            </div>
          </div>
      </div>
      <div class="accordion_one">
          <div class="accordion_header">トントゥはご存知でしょうか？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">トントゥはサウナを守る妖精です.<br>ちなみにフィンランドでは「サウナ・トントゥが最後に入るからサウナはキレイに使いなさい」と子どもたちに言い伝えるそうです。</p>
            </div>
          </div>
      </div>
      <div class="accordion_one">
          <div class="accordion_header">TTNTってなに？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">ととのったーって意味です。<br>このフレーズはドラマサドウの名言です。</p>
            </div>
          </div>
      </div>
      
      <div class="accordion_one">
          <div class="accordion_header">サウナって何がいいの？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">サウナに入ると副交感神経に働きかけ<br>リラックス効果を促進し、<br>その日のイライラを解消してくれます。心身がスッキリします。</p>
            </div>
          </div>
      </div>
      <div class="accordion_one">
          <div class="accordion_header">おすすめ！アサウナ!!<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">朝のサウナは最高です。<br>サウナと水風呂を２セット行うことで<br>頭がスッキリし、日中がシャッキっと過ごせます。</p>
            </div>
          </div>
      </div>
      <div class="accordion_one">
          <div class="accordion_header">子供は入っていいの？？<div class="i_box"><i class="one_i"></i></div></div>
          <div class="accordion_inner">
            <div class="box_one">
              <p class="txt_a_ac">５歳以下の子供は入っては危険です。<br>貧血を起こしてしまう可能性があるからです。</p>
            </div>
          </div>
      </div>
</div>