<main class="main">
  <div class="inner">
    <div class="chat__wrapper">
      <p class="chat__hedding">
        <%= "サウナ画像"%>
      </p>
      <%= link_to "#{@chat.user.name}", root_path, class: :chat__user %>
        <div class="chat__manage">
          <%= link_to "編集する", root_path, class: :chat__btn %>
          <%= link_to "削除する", root_path, class: :chat__btn %>
        </div>
      <div class="chat__image">
        <%= image_tag @chat.image, class: "card__img" %>
      </div>
      <div class="chat__body">
        <div class="chat__detail">
          <p class="detail__title">施設名</p>
          <p class="detail__message">
            <%= @chat.sauna_name %>
          </p>
        </div>
        <div class="chat__detail">
          <p class="chat__description">感想</p>
          <p class="detail__message">
            <%= @chat.description %>
          </p>
        </div>
      </div>
      <%# <div class="prototype__comments"> %>
          <%# <%= form_with model: @chat @message,local: true do |f|%>
            <%# <div class="field"> %>
              <%# <%= f.label :comment, "コメント" %>
              <%# <%= f.text_field :comment, id:"comment_text" %>
            <%# </div>
            <div class="actions"> %>
              <%# <%= f.submit "送信する", class: :form__btn  %>
            <%# </div> %>
          <%# <% end %> 
        <%# <ul class="comments_lists"> %>
            <%# <li class="comments_list"> %>
              <%# <%= " コメントのテキスト "%>
              <%# <%= link_to "@chat.user.name", root_path, class: :comment_user %>
            <%# </li> %>
          <%# <%=  テキストフォーム%> 
        <%# </ul> %>
      <%# </div> %>
    </div>
  </div>
</main>
