<!DOCTYPE html>
<html>
  <head>
    <title>Sauna Chat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
  <header>
  <div class="header-wrapper">
      <div class="header-title">
          <%= link_to 'SAUNA-CHAT', root_path, class: "header-logo", id: 'top-btn' %> 
      </div>
        <div class="header-menu">
          <ul class="header-menu-right">
            <% if user_signed_in? %>
              <%# //ニックネームは６文字までそれ以上にするとビューが崩れます %>
              <li><%= link_to "#{current_user.nickname}", user_path(current_user.id), class: "user-nickname" %></li>
              <li><%= link_to "新規投稿", new_chat_path, class: "new-post" %>
              <li><%= link_to "ログアウト",  destroy_user_session_path, method: :delete, class: "logout" %></li>
            <% else %>
              <li><%= link_to "ログイン", new_user_session_path, class: "login" %></li>
              <li><%= link_to "アカウント作成", new_user_registration_path, class: "sign-up" %></li>
              <li><%= link_to "ゲストログイン", users_guest_sign_in_path, class: "sign-up", method: :post %></li>
            <% end %>
          </ul>
        </div>
  </div>
</header>
    <%= yield %>
  </body>
</html>
